body {
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

.users {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 20px;
  font-size: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#message {
  text-align: center;
}
